data
checkpoint*
checkpoint
.ipynb_checkpoints/
__pycache__
SAM
.pth
logs/
prepare_data/FSD50K*
prepare_data/fsd50k_data
prepare_data/eval_wav16.npz
prepare_data/val_wav16.npz
prepare_data/train_wav16.npz
*.pyc
*.pth
wandb
checkpoint
debug
debug_ft
debug_pt
esc50_new1_ft
log1
esc50_new*
ffttest
fttest
lowshitcheckpoint
output
*.npz
esc50_new*
esc50_pt*
lowshotcheckpoint
tem
temtest
test
*.wav